
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

link {
    align-items: center;
    
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
  width: 25%;
  border: 5px solid blue;
  padding: 5px;
  margin: 5px;
  position: absolute; right: 0px; bottom: 0px;
}

#two {
  width: 25%;
  border: 5px solid green;
  padding: 5px;
  margin: 5px;
  position: absolute; right: 0px; top: 0px;
}

#three {
  width: 25%;
  border: 5px solid orange;
  padding: 5px;
  margin: 5px;
  position: absolute; left: 0px; top: 0px;
}

#four {
  width: 25%;
  border: 5px solid yellow;
  padding: 5px;
  margin: 5px;
  position: absolute; left: 0px; bottom: 0px;
}
