<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <p>Display the details of the Dish here</p>
  </div>

  <div fxFlex="40">
    <div fxFlex *ngIf="selectedDish">
      <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{selectedDish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
      <md-card-content>
        <p>{{selectedDish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
      </md-card>
      </div>
    <p>Display the list of comments here</p>
  </div>

</div>
