<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex>
    <div fxFlex *ngIf="Dishesnom">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{Dishesnom.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{Dishesnom.image}} alt={{Dishesnom.name}}>
        <md-card-content>
          <p>{{Dishesnom.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      </div>
  </div>

  <div fxFlex>
    <div fxFlex *ngIf="Dishesnom">

          <md-card>
            <md-card-header>
              <md-card-title>
                <h3>COMMENTS</h3>
              </md-card-title>
            </md-card-header>
            <md-card-content>
              <blockquote>
                <md-list-item *ngFor="let listcomment of Dishesnom.comments">
                  <dl>
                    <P>&nbsp;
                    <dt md-line>{{listcomment.comment}}</dt>
                    <dt md-line>{{listcomment.rating}} Stars</dt>
                    <dt md-line>-- {{listcomment.author}} <strong>{{listcomment.date | date: "MMM, dd, yyyy"}}</strong></dt>
                  </dl>
                </md-list-item>
              </blockquote>
            </md-card-content>
          </md-card>
    </div>
  </div>

</div>
