<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">

    <div fxFlex *ngIf="Dishesnom">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{Dishesnom.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{Dishesnom.image}} alt={{Dishesnom.name}}>
        <md-card-content>
          <p>{{Dishesnom.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      </div>
  </div>

  <div fxFlex="40">

  </div>


  </div>

</div>
