/* Style Colours chosen by course, but other options are available. */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  padding: 10;
  margin: 10;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}
