/* Style Colours chosen by course, but other options are available. */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: rgba(148, 89, 245, 0.49);
  padding: 10;
  margin: 10;
  font-family: Roboto, sans-serif;
}

.container {
  background-color: white;
  margin: 20px;
  display: flex;
}
